<% provide :page_title, 'Browse' %>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
          <div class="search-box card">
            <div class="row">
              <div class="col">
                <h1 class="text-center">Browse</h1>
                <%= label_tag :filter, 'Recipe filter', class: 'sr-only' %>
                <div class="input-group">
                  <%= text_field_tag :filter, params[ :query ], class: 'form-control round primary', placeholder: 'Search by name or output' %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col d-flex justify-content-center">
                <div class="btn-group btn-group-toggle recipe-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-secondary toggle active" onclick="show_base_recipes()">
                    <%= radio_button_tag 'recipe_type', 'base', true, class: 'form-check-input' %>Base
                  </label>
                  <label class="btn btn-outline-secondary toggle" onclick="show_modded_recipes()">
                    <%= radio_button_tag 'recipe_type', 'modded', true, class: 'form-check-input' %>Modded
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row" id="base-recipes">
            <%= render partial: 'recipe', collection: @recipes.base, cached: true %>
          </div>
          <div class="row d-none" id="modded-recipes">
            <% unless @recipes.modded.empty? %>
              <%= render partial: 'recipe', collection: @recipes.modded, cached: true %>
            <% else %>
              <div class="col mt-5">
                <% if logged_in? %>
                  <h5 class="text-center">Looks like you haven't uploaded any recipes</h5>
                  <div class="d-flex justify-content-center">
                    <%= link_to 'Upload', upload_path, class: 'btn btn-outline-primary round' %>
                  </div>
                <% else %>
                  <h5 class="text-center">Must be logged in to view modded recipes</h5>
                  <div class="d-flex justify-content-center">
                    <%= link_to 'Login', login_path, class: 'btn btn-outline-primary round' %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
