<div class="page-header">
  <nav class="navbar navbar-dark navbar-expand-md flush-left">
    <a href="<%= welcome_path %>" class="navbar-brand lead"> Factorio Helper </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-toggle-area" aria-controls="navbar-toggle-area" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-toggle-area">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to 'Details', details_path, class: "nav-link #{ set_active_nav_item details_path }" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Browse', browse_path, class: "nav-link #{ set_active_nav_item browse_path }" %>
        </li>
        <% if logged_in? %>
          <li class="nav-item">
            <%= link_to 'Upload', upload_path, class: "nav-link #{ set_active_nav_item upload_path }" %>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle <%= set_active_nav_item account_path %>" id="navbar-dropdown-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_user.email.split('@')[ 0 ] %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbar-dropdown-link">
              <%= link_to 'Account', account_path, class: 'dropdown-item' %>
              <%= link_to 'Log out', logout_path, method: 'delete', class: 'dropdown-item' %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Sign Up', signup_path, class: "nav-link #{ set_active_nav_item signup_path }" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Log In', login_path, class: "nav-link #{ set_active_nav_item login_path }" %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>
